@font-face {
    font-family: moses;
    src: url(../../public/fonts/Courgette-Regular.ttf);
}
@font-face {
    font-family: moses-one;
    src: url(../../public/fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: moses-two;
    src: url(../../public/fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: moses-three;
    src: url(../../public/fonts/Roboto-Regular.ttf);
}