// ***********************sec-one***********************
.sec-1{
    z-index: -2;
    
    width: 100%;
    height: 500px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 73px;
  }
  .flex-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
  .pad {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .flex-1 h1{
    font-family: moses;
  }
  .flex-1 h6,
  h1{
    font-family: moses-three;
    width: 550px;
  }
  .btn-flex{
    display: flex;
    align-items: center;
  }
  .menu-1{
    width: 400px;
    height: 400px;
  }
  a .b-book{
    border: none;
    border-radius: 20px; 
    line-height: 30px; 
    width: 125px;
    background-color: #e81919;
    color: #fff;
    font-size: 14px;
  }
  a .b-book:hover{
    box-shadow: 0px 2px 5px 1px #d03131;
   
  }
  .ic-pa{
    display: flex;
    margin-top: 12px;
  }
  .ic-pa p{
    margin-top: 6px;
    margin-left: 8px;
    color: #333;
    font-size: 14px;
    font-weight: bold;
  }
  .vid{
    margin-top: 4px;
    margin-left: 15px;
    font-size: 25px;
    color: #d03131;
  }

  //*************************section-2**************************
.sec-2{
    margin-top: 30px;
  width: 100%;
  height: 400px;
  }
  // h2 et h6
  .title-1{
    text-align: center;
    padding: 30px 0px;
    font-family: moses;
  }
  .title-1 h6{
    font-family: moses-two;
    color: #333;
  }
  .learn span{
    color: #e81919;
  }
  .fle-1 {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
   
  }
  .rol{
    position: relative;
  }
  .abs{
    background-color: #fff;
    padding: 10px 150px;
    position: absolute;
    transform: translate(10%, -190%);
    text-align: center;
  }
  .abs h4{
    font-size: 17px;
    font-weight: bold;
  }
  .abs p{
    color: #e81919;
    font-weight: bold;
    font-size: 20px;
  }
  .fle-2{
    display: flex;
    flex-direction: column;
    gap: 3px;
   
  }
  .fle-2 p,
  h5{
    width: 380px;
    font-family: moses-three;
    font-size: 12px;
  }
  .fle-2 .fle-3 h5{
    
    width: 370px;
    text-align: center;
    font-family: moses-three;
    font-size: 13px;
    margin-left: -12px;
  }
  h5 .valid {
    color: #e81919;
    margin-right: 10px;
  }
  .colr p{
    color: #333;
    font-size: 13px;
  }
  .img-learn{
    background-image: url(../../../../public/img/about-2.jpg);
    background-size: cover;
    width:360px ;
    height:251px ;
  }
  .ham-ico{
    font-size: 40px;
    color: #e81919;
    text-align: center;
    margin:100px 150px;
    border: 10px solid rgba(230, 10, 10, 0.5);
    border-radius: 50%;
  }

  //*************************** section3 card**********************
.sec-card{
    display: flex;
    justify-content: center;
    margin-top: 300px;
    padding: 0 17% 0 15%;
    gap: 20px;
    background-color: #f2f2f2;
    width: 100%;
    height: 510px;
    
  }
  // card
  .card {
    background-color: #fff;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    margin-top: 110px;
    gap: 10px;
    border: none;
    width: 192px;
    height: 288px;
  }
  .sec-card .card:hover{
    width: 200px;
    height: 390px;
    margin-inline: -4px;
  }
  .con {
    margin-top: 30px;
    background-color: #fbbcbc;
    color:#c85656 ;
    text-align: center;
    font-size: 20px;
    padding: 18px;
    border: 1px solid white;
    border-radius: 50% ;
  }
  
  .h6-title {
    font-size: 16px;
    max-width: 170px;
    color:#333 ;
    margin-left: -5px;
    
  }
  .card-text {
    font-size: 12px;
    padding-top: 20px;
    line-height: 20px;
    color:#333 ;
    text-align: center;
  }
  .g-card{
    margin-top: 70px;
    width: 320px;
    height: 370px;
    background-color:#e81919;
    display: flex;
    flex-direction: column;
    
  }
  .g-card .why,
  .lor{
    margin-top: 25px;
    margin-left: 25px;
    color: #fff;
    width: 250px;
  }
  .g-card p{
    font-size: 13px;
  }
  // button lern more
  a .l-more{
    border: none;
    border-radius: 20px; 
    line-height: 30px; 
    width: 130px;
    background-color: #e48383;
    color: #fff;
    font-size: 14px;
   
  }
  .learn{
    margin: 10px auto;
  }
  div .l-more:hover{
    background-color: #c87878;
    box-shadow: 0px 3px 7px 1px #d03131;
  }
  // section img-bg
  .sec-img {
    
    width: 100%;
    height: 100px;
  }
  .sec-img .hamham{
    width: 100%;
    height: 100%;
  }
  .sec-img .hamham {
    display: flex;
    justify-content: center;    
    background-image: url(../../../../public/img/stats-bg.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-position-x: center;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.271);
    height: 300px;
    width: 100%;
  }
  .hamham .text-img{
    text-align: center;
    display: flex;
  }
  .hamham .text-img div {
    margin-top: 115px;
   margin-inline: -140px;
   color: #fff;
  }
  .hamham .text-img div p{
    color:#cfc6c6;
    font-weight: bold;
    font-size: 15px;
  }
  .hamham .text-img div h1{
    font-weight: bolder;
  }

  //   **********************************section6 carous one*********************
.section-6 {
    margin-top: 300px;
    width: 100%;
    height: auto;
    background-color: #fff;
  }
  .section-6 .wrapper {
    max-width: 100%;
    width: 100%;
  }
  .main-heading p{
    color: #333;
    font-family: moses-two;
    text-align: center;
  }
  .main-heading h1{
    color: #333;
    font-family: moses;
    text-align: center;
    margin: auto;
  }
  .main-heading h1 span{
    color: #e81919;
  }
  .section-6 .wrapper .carusel {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    grid-auto-columns: 33.3333333333%;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow-x: auto;
  }
  .section-6 .wrapper .carusel .card {
    scroll-snap-align: start;
    position: relative;
    width: 100%;
    height: 500px;
  }
  .section-6 .wrapper .carusel .card .slimage {
    width: 100%;
    position: relative;
    height: 100%;
  }
  .section-6 .wrapper .carusel .card .slimage img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .section-6 .wrapper .carusel .card .slimage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
  }
  .section-6 .wrapper .carusel .card .slinfo {
    width: 80%;
    padding: 10px 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
  }
  .section-6 .wrapper .carusel::-webkit-scrollbar {
    display: none;
  }
  .section-6 .wrapper .carusel.draging .card {
    cursor: grab;
    user-select: none;
  }
  .section-6 .btnsslid {
    padding-top: 20px;
    padding-bottom: 30px;
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .section-6 .btnsslid .slidBtn {
    padding: 10px 18px;
    font-weight: bolder;
    font-size: 18px;
    color: #fffefe;
    outline: none;
    border: none;
    border-radius: 50%;
    background-color:#e81919;
    cursor: pointer;
  }

  //************************ section pro chef *************************
#chfs{
    width: 100%;
  }
  .chef{
    width: 310px;
    border-radius: 10px;
    background-color:#fff;
    transition: 0.6s;
    position: relative;
    img{
        border-radius: 10px 10px 0px 0px;
        width: 310px;
        height: 350px;
    }
    p{
       
        color: #333;
        font-size: 14px;
    }
    .tit{
        font-size: 17px;
        font-weight: bolder;
  
    }
  }
  .section7-title{
    font-size: 32px;
    font-family: moses;
    color: #333;
  }
  .pt-5 h6{
    margin-top: 40px;
    font-family: moses-two;
    color: #333;
    font-size: 17px;
    margin-bottom: 10px;
  }
  .pt-5 p{
    margin-bottom: 25px;
  }
  .section7-title span{
    color: #e81919;
  }
  .chef:hover{
    scale: (1.1);
  }
  .chef:hover .social-media-chefs{
    right: 5%;
    opacity: 1;
  }
  .social-media-chefs{
    width: 30px;
    background-color:#e81919;
    border-radius: 5px;
    position: absolute;
    top: 2%;
    opacity: 0;
    right: 0;
    transition: 1s;
    i{
        padding-block: 5px;
    }
  }

  //************************* section-contact zero*********************
.sec-zero{
    width: 100%;
    height: 100%;
    background-color: #fff;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sec-zero .tex{
    margin-bottom: 50px;
    text-align: center;
  }
  .sec-zero .tex h6{
    font-family: moses-two;
    color: #333;
    font-size: 17px;
    margin-bottom: 20px;
  }
  .sec-zero .tex h1{
    color: #333;
    margin: auto;
    font-size: 32px;
    font-family: moses;
  }
  .sec-zero .tex h1 span{
    color: #e81919;
  }
  .sec-zero .cont-zero{
    display: flex;
    
    background-color: #e7e6e65d;
  
  }
  .sec-zero .cont-zero .img-zero{
    
    width: 350px;
    height: 450px;
    background-size: cover;
    background-image: url(../../../../public/img/reservation.jpg);
  }
  /* form */
  .sec-zero .cont-zero form{
    margin-top: 60px;
  }
  .sec-zero .cont-zero .input{
  border-style: none;
  padding: 5px;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.171);
  width: 200px;
  font-size: 14px;
  color: #193753;
  }
  .sec-zero .cont-zero .naem-flex{
    display: flex;
    margin-top: 15px;
    margin-inline: 40px;
  }
  
  .sec-zero .cont-zero .textarea{
    width: 89%;
    margin-left: 40px;
  }
  
  .sec-zero .cont-zero .submit{
    border-style: none;
    background-color: rgb(194, 49, 49);
    width: 160px;
    height: 40px;
    border-radius: 20px;
    color: white;
    margin-top: -10px;
    font-size: 14px;
    
  }
  .sab{
    text-align: center;
  }

  //****************************** section7 map*********************
.sec-map h6{
    font-family: moses-two;
    color: #333;
    font-size: 17px;
    margin-bottom: 20px;
  }
  .sec-map h1{
    margin: auto;
    text-align: center;
    font-size: 32px;
    font-family: moses;
  }
  .sec-map h1 span{
    color: #e81919;
  }
  .sec-map{
    text-align: center;
    margin-top: 100px;
    width: 100%;
    height: 500%;
  }
  iframe{
    margin-top: 50px;
  }
  
  
  
  
  
  
  
  
  //************************ section contact-two*******************
  .sec-two{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
    padding: 0 5%;
  }
  .sec-two .back {
    display: flex;
    margin: 20px;
    width: 465px;
    height: 110px;
    background-color: #d7d4d4a2;
    align-items: center;
    gap: 15px;
  }
  .sec-two .back .noc {
    background-color:#e81919;
    color:#fff ;
    text-align: center;
    font-size: 18px;
    padding: 16px;
    border: 1px solid #d03131 ;
    border-radius: 50% ;
    margin-left: 25px;
  }
  .sec-two .back h4,
  p {
    color: #333;
  }
  .sec-two .back h4{
    margin-top: 16px;
    font-size: 16px;
    font-weight: bold;
   
  }
  .sec-two .back p{
    font-size: 14px;
    color: #333;
  }
  
  //*********************** section contact-three*******************
  .contact-three {
    width: 100%;
    height: 100%;
    background-color: #fff;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  /* form */
  .flex-form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;
    padding: 2%;
    background-color: #ffffff;
    box-shadow: 1px 5px 10px 1px  #604e4e;
  
    
  }
  .input{
  border-style: none;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.171);
  width: 450px;
  
  color: #193753;
  }
  .naem-flex{
    display: flex;
    gap: 25px;
  }
  
  .subject,
  .textarea{
    width: 100%;
  }
  
  .submit{
    border-style: none;
    background-color: rgb(194, 49, 49);
    width: 150px;
    height: 40px;
    border-radius: 20px;
    color: white;
    margin-bottom: 60px;
    font-size: 14px;
    
  }
  .sab{
    text-align: center;
  }
  